header{
    width: 1300px;
    margin-left: 25px;
    position: relative;
}
h1{
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #F0F0F0;
    width: 1000px;
    height: 77px;
    font-size: 60px;
    text-align: center;
}
.banner{
    width: 1300px;
    height: 270px;
    -webkit-filter: blur(3px);
            filter: blur(3px);
    margin: 0 auto; 
} 
.navs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1300px;
    height: 103px;
    margin-top: 40px;
    font-weight: bold;
} 
.nav-ul-left{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 120px;
}
.nav-li-left{
    margin-left: 75px;
}
.nav-ul-right{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 150px;
}
.nav-li-right{
    margin-right: 55px;
}
nav a{
    color:#404040;
}
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container{
    width: 1100px;
    margin-left: 150px;
    margin-right: 150px;
}
.main-img{
    width: 600px;
}
.side-bars{
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 325px;
    margin-top: 5px;
    padding:20px 20px 10px 40px;
    border-radius: 7px;
}
.side-bars h2{
    font-size: 26px;
    line-height: 36px;
    color: #404040;
    font-weight: bold;
    margin-bottom: 25px;
}
.side-bar h4{
    font-size: 13px;
    line-height: 19px;
    color: #404040;
    opacity: 24%;
    font-weight: bold;
}
.side-bar h3{
    font-size: 20px;
    line-height: 28px;
    color: #404040;
    font-weight: bold;
}
.side-bar p{
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 10px;
}
.title::before{
    content: '';
    display:inline-block;
    width: 10px;
    height: 10px;
    background:-webkit-gradient(linear,left top, left bottom,from(#183C77),to(#58C3DD));
    background:-o-linear-gradient(#183C77,#58C3DD);
    background:linear-gradient(#183C77,#58C3DD);
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;
}
.list-div{
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 60px;
    width: 980px;
    margin:50px 20px 50px 15px;
}
.list-ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px 0px 20px 30px;
}
.list-li{
    margin-right: 40px;
}
.list-li a{
    font-size: 18px;
    line-height: 26px;
    color: #404040;
    opacity: 41%;
    font-weight: bold;
}
.list-li-active{
    font-size: 18px;
    line-height: 26px;
    color: #404040;
    font-weight: bold;
    margin-right: 40px;
}
.grids{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 15px;
    margin-right: 55px;
    
}
.grids > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    
}
.grids > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    
}
.grids > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    
}
.grids > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    
}
.grids > *:nth-child(5){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    
}
.grids > *:nth-child(6){
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    
}
.grids img{
    width: 300px;
    margin-bottom: 20px;
}
.grid{
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    height: 500px;
    margin-bottom: 50px;
    position: relative;
}
.grid-text{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
}
.grid-text h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 20px;
}
.grid-text p{
    font-size: 15px;
    line-height: 21px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 10px;
}
.grid-text h6{
    font-size: 13px;
    font-weight: bold;
    color: #404040;
    opacity: 24%;
}
.grid h5{
    position: absolute;
    top: 30px;
    left: 160px;
    -webkit-transform: translate(-10%,-10%);
        -ms-transform: translate(-10%,-10%);
            transform: translate(-10%,-10%);
    font-size: 14px;
    line-height: 16px;
    color: #6F6F6F;
    font-weight: bold;
    background-color: #FCFCFC;
    width: 120px;
    border-radius: 50px;
    opacity: 41%;
    height: 25px;
    padding-left: 25px;
    padding-top: 5px;

}
.cover-photo{
    width: 1000px;
    margin-left: 15px;
    margin-right: 15px;
    height: 260px;
}
.cover-photo{
    position: relative;
    -webkit-filter: blur(2px);
            filter: blur(2px);
}
.position-text{
    position: absolute;
    width: 900px;
    margin-left: 180px;
    margin-right: 145px;
    margin-top: -220px;
}
.position-text h2{
    font-size: 32px;
    line-height: 44px;
    color: #F0F0F0;
    font-weight:bold;
    margin-bottom: 20px;
}
.position-text p{
    color: #F0F0F0;
    opacity: 75%;
    font-size: 15px;
    line-height: 21px;
    font-weight: lighter;
    margin-bottom: 30px;
    width: 700px;
}
.position-text span a{
    margin-right: 20px; 
    color: #F0F0F0; 
}
.button1{
    color:#F0F0F0;
    background:-webkit-gradient(linear,left top, left bottom,from(#3B79E0),to(#58C3DD));
    background:-o-linear-gradient(#3B79E0,#58C3DD);
    background:linear-gradient(#3B79E0,#58C3DD);
    width: 150px;
    height: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 17px;
}
.button2{
    background-color: #010002;
    width: 150px;
    border-radius: 50px;
    opacity: 41%;
    height: 30px;
    padding: 10px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
    font-size: 17px;
}
.footer{
    background-color: #FCFCFC;
    height: 235px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    padding-top: 50px;
    
}
.footerInfo{
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flex-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
}
.flex-footer h2{
    font-size: 22px;

}
.flex-footer p{
    margin-left: 25px;
    font-size: 18px;
    color: #404040;
    opacity: 27%;
    font-weight: bold;
}
.footer h3{
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer p{
    color: #404040;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    width: 370px;
}
.style{
    color: #404040;
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;

}
.ul-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.li-icon {
    margin-right: 5px;
    fill: #A6A6A6;
    font-size: 25px;

}