body{
    height: 2846px;
}
header{
    width: 1300px;
    margin-left: 25px;
    position: relative;
}
h1{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0F0F0;
    width: 1000px;
    height: 77px;
    font-size: 60px;
    text-align: center;
}

.banner{
    width: 1300px;
    height: 270px;
    filter: blur(3px);
    margin: 0 auto; 
} 
.navs{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 103px;
    margin-top: 40px;
    font-weight: bold;
} 
.nav-ul-left{
    display: flex;
    margin-left: 150px;
}
.nav-li-left{
    margin-left: 75px;
}
.nav-ul-right{
    display: flex;
    margin-right: 150px;
}
.nav-li-right{
    margin-right: 55px;
}
nav a{
    color:#404040;
}
.title::before{
    content: '';
    display:inline-block;
    width: 10px;
    height: 10px;
    background:linear-gradient(#183C77,#58C3DD);
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 5px;
}
.cover{
    width: 1000px;
    height: 270px;
    margin-left: 150px;
    margin-right: 150px;
    filter: blur(2px);
    position: relative;
}
.imageTexts{
    position: absolute;
    text-align: center;
    margin-top: -225px;
    width: 900px;
    margin-left: 200px;
    margin-right: 145px;
    
}
.imageTexts h6{
    font-size: 20px;
    line-height: 28px;
    color: #F0F0F0;
    opacity: 72%;
    margin-bottom: 15px;
    
}
.imageTexts h2{
    font-size: 46px;
    line-height: 64px;
    color: #F0F0F0;
}
.imageTexts span{
    font-size: 10px;
    color: #F0F0F0;
}
.articles{
    width: 980px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.article2 img{
    width: 800px;
    margin-top: 10px;
    margin-bottom: 50px;
    
}
.text-style{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    font-weight: bold;
}
.title-style{
    font-size: 34px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #404040;
}
.article4 p{
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    font-weight: bold;
    width: 600px;
    margin-top:10px;
    padding-bottom:40px;
}
.personal-info{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 980px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 55px 0px 55px 80px;
}
.personal-info .person{
    padding-top: 20px;
}
.personal-info p{
    font-size: 14px;
    color: #404040;
    line-height: 20px;
    font-weight: bold;
}
.ul-icons{
    display: flex;
}
.li-icons {
    margin-right: 5px;
    fill: #A6A6A6;
    font-size: 25px;
    margin-bottom: 10px;

}
.info{
    margin-left: 40px;
    margin-right: 75px;
}
.info h3{
    font-size: 15px;
    line-height: 21px;
    color: #404040;
    opacity: 35%;
    font-weight: bold;
}
.info h2{
    font-size: 20px;
    line-height: 28px;
    color: #404040;
    font-weight: bold;
    margin-bottom: 20px;
}
.follow{
    padding-right: 70px;
}
.follow h4{
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    font-weight: bold;
}
.follow a{
    font-size: 15px;
    line-height: 21px;
    color: #404040;
    font-weight: bold;
}
.cover-photo{
    width: 1000px;
    margin-left: 145px;
    margin-right: 145px;
    margin-top: 65px;
    height: 260px;
}
.cover-photo{
    position: relative;
    filter: blur(2px);
}
.position-text{
    position: absolute;
    width: 900px;
    margin-left: 180px;
    margin-right: 145px;
    margin-top: -220px;
}
.position-text h2{
    font-size: 32px;
    line-height: 44px;
    color: #F0F0F0;
    font-weight:bold;
    margin-bottom: 20px;
}
.position-text p{
    color: #F0F0F0;
    opacity: 75%;
    font-size: 15px;
    line-height: 21px;
    font-weight: lighter;
    margin-bottom: 30px;
    width: 700px;
}
.position-text span a{
    margin-right: 20px; 
    color: #F0F0F0; 
}
.button1{
    color:#F0F0F0;
    background:linear-gradient(#3B79E0,#58C3DD);
    width: 150px;
    height: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 17px;
}
.button2{
    background-color: #010002;
    width: 150px;
    border-radius: 50px;
    opacity: 41%;
    height: 30px;
    padding: 10px 30px;
    align-items: center;
    font-weight: bold;
    font-size: 17px;
}
.content3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 360px;
    grid-gap: 30px;
    padding-top: 100px;
    padding-left: 20px;
}
.container3{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 1000px;
    height: 500px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 7px;
    margin-top: 55px;

}
.container3 img{
    width: 300px;
}
.grid-text{
    width: 290px;
    margin-left: 15px;
    padding-right: 20px;
    color: #404040;
}
.grid-text h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}
.grid-text p{
    font-size: 15px;
    line-height: 21px;
    margin-top: 10px;
    font-weight: bold;

}
.container3 h2{
    font-size: 26px;
    padding-top: 40px;
    padding-left: 60px;
    font-weight: bold;
}
.footer{
    background-color: #FCFCFC;
    height: 235px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    padding-top: 50px;
    
}
.footerInfo{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flex-footer{
    display: flex;
    margin-bottom: 40px;
}
.flex-footer h2{
    font-size: 22px;

}
.flex-footer p{
    margin-left: 25px;
    font-size: 18px;
    color: #404040;
    opacity: 27%;
    font-weight: bold;
}
.footer h3{
    font-size: 16px;
    line-height: 22px;
    color: #404040;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer p{
    color: #404040;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    width: 370px;
}
.style{
    color: #404040;
    font-size: 15px;
    line-height: 28px;
    font-weight: bold;

}
.ul-icons{
    display: flex;
}
.li-icon {
    margin-right: 5px;
    fill: #A6A6A6;
    font-size: 25px;

}