.center{
    max-width: 1920px;
    margin: 0 auto;
}
header{
    position: relative;
    width: 1365px;
}
h1{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0F0F0;
    width: 1000px;
    height: 77px;
    font-size: 60px;
    text-align: center;
}
.banner{
    width: 1365px;
    height: 270px;
    filter: blur(3px);
    margin: 0 auto; 
} 
.navs{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    height: 103px;
    margin-top: 40px;
    font-weight: bold;
} 
.nav-ul-left{
    display: flex;
    margin-left: 150px;
}
.nav-li-left{
    margin-left: 75px;
}
.nav-ul-right{
    display: flex;
    margin-right: 150px;
}
.nav-li-right{
    margin-right: 55px;
}
nav a{
    color:#404040;
}
.cover{
    width: 1000px;
    height: 270px;
    margin-left: 150px;
    margin-right: 150px;
    filter: blur(2px);
}
.topic{
    position: relative;
}
.imageTexts{
    position: absolute;
    top: 0;
    left:40%;
    bottom: 60%;
    transform: translate(-40%,50%);
    color: #F0F0F0;
    margin-bottom: 30px;
}
.topic h6{
    font-size: 15px;
    opacity: 72%;
    margin-bottom: 10px;
}
.topic h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
.topic p{
    font-size: 15px;
    font-weight: bold;
    height: 57px; 
    margin-bottom: 25px;
}
.topic .readMore{
    color:#F0F0F0;
    background:linear-gradient(#6294A2,#58C3DD);
    width: 186px;
    height: 44px;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 17px;   
}
.topic-nav{
    position: absolute;
    top: 0;
    right: 0;
}
.topic-li{
    display: inline-block;
    margin-left: 20px;
}
.topic-li:nth-child(1){
    font-size: 12px;
    color: #F0F0F0;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.topic-li:nth-child(2){
    font-size: 12px;
    line-height: 16px;
    color: #5E8A93;
    background-color: #FCFCFC;
    padding:5px 15px;
    border-radius: 50px;
    font-weight: bold;
}
.atag1{
    color: #FCFCFC;
}
.atag2{
    color: #5E8A93;
}
.content{
    display: grid;
    margin-left: 100px;
    margin-right: 180px;
}
.content{
    grid-area: 1/1/4/2;

}
.sideBar{
    grid-area:1/2/4/3;
}
.box {
    display: flex;
    padding-left: 30px;
    
}
.box img{
    width: 170px; 
    padding-top: 60px;
    
}
.sideBar img{
    width: 400px;
    filter: blur(2px);
}
.box .text{
    width: 400px;
    padding-right: 80px;
    margin-left: 15px;
    padding-top: 60px;
    margin-top: 15px;

}
.text p{
    font-size: 15px;
}
.sideBar p{
    font-size: 15px;
    width: 200px;
    height: 500px;
}
.body{
    width: 1365px;
}
.side-bar-photo{
    position: relative;
}
.side-text1{
    position: absolute;
    left: 65%;
    top: 100%;
    transform: translate(-2%,100%);
    width: 300px;
    margin-left: -70px;
    margin-top: -30px;
    padding-right: 50px;
}
.side-text1 h3{
    font-size: 15px;
    font-weight: bold;
    color: #F0F0F0;
    opacity: 35%;
    line-height: 21px;
}
.side-text1 h2{
    font-size: 32px;
    color: #F0F0F0;
    line-height: 44px;
}
.side-text1 h4{
    color: #F0F0F0;
    opacity: 57%;
    font-size: 15px;
    line-height: 21px;
}
.side-text1 a{
    font-size: 16px;
    line-height: 22px;
    color: #F0F0F0;
    font-weight: bold; 
    margin-left: 30px;   
    
}
.button{
    background-color: #010002;
    width: 150px;
    border-radius: 50px;
    opacity: 41%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    align-items: center;    

}
.side-bar2{
    width: 370px;
    height: 260px;
    background-color: #FCFCFC;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    margin-left: 20px;
}
.side-bar2 h3{
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
}
.side-bar2 h4{
    color: #404040;
    opacity: 57%;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    width: 300px;
}
.input{
    width: 300px;
    height: 38px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    font-size: 15px;
    line-height: 21px;
    color: #404040;
    font-weight: bold;
    opacity: 51%;
    margin-bottom: 30px;
}
.side-bar2 a{
    color:#F0F0F0;
    background:linear-gradient(#6294A2,#58C3DD);
    width: 186px;
    height: 44px;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 17px;   

}
.text h3{
    color: #404040;
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    opacity: 24%;
}
.text h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    width: 450px;
}
.text p{
    font-size: 15px;
    width: 370px;
    line-height: 21px;
    font-weight: bold;
    color: #404040;
}
.articles{
    margin-top: 25px;
    margin-bottom: 30px;
}
.content1{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    padding: 40px 40px 20px 40px;
    margin: 60px 150px;
    border-radius: 7px;
}
.title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
}
.content1 h5{
    color: #404040;
    opacity: 24%;
    font-size: 13px;
    line-height: 19px;
    font-weight: bold;
}
.content1 h3{
    font-size: 20px;
    line-height: 28px;
    color: #404040;
    font-weight: bold;
}
.content1 p{
    color: #404040;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
}
.image6{
    width: 500px;
    margin-top: 60px;
}
.secondContent{
    display: flex;
    position: relative;
}
.blurText{
    position: absolute;
    bottom: 30%;
    left: 55%;
}
.blurText h3{
    font-size: 15px;
    font-weight: bold;
    color: #F0F0F0;
    opacity: 35%;
    line-height: 21px;
}
.blurText h2{
    font-size: 32px;
    color: #F0F0F0;
    line-height: 44px;
}
.blurText h4{
    color: #F0F0F0;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;

}

